# Build folders
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# Executables and object files
*.exe
*.obj
*.dll
*.pdb
*.out
*.a
*.lib
*.so
*.dylib

# Editor settings
/.vscode/

# macOS
.DS_Store

# Linux
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp
*.cache

# Test executables
/test_*.exe
